@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-BoldItalic.ttf");
  font-weight: bold;
  font-weight: italic;
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --font-family: "Space Mono";
  --font-size: 1.5em;
  --font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grayish-cyan);
}
